{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
<div>
    <p>It is now {{ current_date }}.</p>
    <p class="hyphens block">Избранная статья Развалины синагоги Капернаума, II—V века
    Византийская Палестина (др.-греч. Παλαιστίνη) — период в истории Палестины 
    (или Земли Израильской), когда эта ближневосточная территория находилась под 
    властью Восточной Римской империи и Византии. В этот период Палестина являлась 
    крупнейшим христианским центром и популярным местом паломничества, что имело 
    важное экономическое, политическое и общественное значение для региона. 
    Территория византийской Палестины включала прибрежную равнину от горы Кармель на 
    севере до города Рафия на южной границе с Египтом, Галилею и Голаны на севере, 
    Изреельскую долину, долину реки Иордан и Мёртвое море. Административное деление 
    Палестины неоднократно менялось и приняло свой окончательный вид в IV веке после 
    разделения на три провинции. В историческом отношении Палестина продолжала 
    оставаться единым образованием.</p>
    <p class="hyphens block">С завершением кризиса III века, следующий век стал 
    временем процветания в Палестине. После паломничества в 325 году в Святую землю 
    императрицы Елены здесь стали появляться многочисленные церкви и монастыри. 
    Некоторую угрозу представляли набеги арабов, но меры, принятые при Диоклетиане 
    (284—305) и Галерии (293—311) обеспечивали достаточную защиту палестинского 
    лимеса (лат. limes Palestinae). В результате Палестине был обеспечен длительный 
    период спокойного развития, приведший к значительному экономическому и 
    демографическому росту. В византийский период численность жителей Палестины 
    достигла значений, которые были превзойдены только в XX веке. В этот же период 
    в регионе происходил процесс христианизации и соответствующего уменьшения доли 
    еврейского и языческого населения.</p>
</div>
{% endblock %}